.home-logo {
    position: sticky;
    display: flex;
    top: -3em;
    justify-content: center;
    padding: 4em 0 0.6em;
    background-color: #000000;
    box-shadow: 0 0 32px 10px #000000;

    &-wrapper {
        width: 100%;
        max-width: 280px;
    }
}

@media (min-width: $breakpoint-s + 1) {
    .home-logo {
        &-wrapper {
            max-width: 400px;
        }
    }
}

@media (min-width: $breakpoint-m + 1) {
    .home-logo {
        justify-content: flex-end;
        width: 38.2%;
        padding: 0;
        box-shadow: none;

        &-wrapper {
            max-width: 200px;
        }
    }
}
