.home {

    &-wrapper {
        position: relative;
        top: -12vh;
        max-width: 514px;
        padding: 0 2em;
    }

    &-logo {
        max-width: 460px;

        img {
            width: 100%;
        }
    }

    &-menu {
        padding: 0;

        li {
            display: inline-block;

            &::before {
                content: '·';
            }

            &:first-child::before {
                display: none;
            }
        }
    }
}