html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: $color-text;
    background-color: $color-bg;
    font-family: $font-family-prim;
}

a {
    text-decoration: none;
    color: $color-text-alt;

    border-bottom: 1px solid $link-boder-color;

    &:hover {
        color: $color-text;
        border-bottom: 2px solid $link-boder-color-hover;
    }
}