// Colors
$color-main: #333;
$color-alt: #555;
$color-bg: #f8f8f8;

$font-family-prim: 'Lato', sans-serif;
$font-family-alt: 'Overpass', sans-serif;

$color-text: $color-main;

$link-boder-color: #c0c0c0;
$link-boder-color-hover: $color-alt;

