// Breakpoints
$breakpoint-xs: 320px;
$breakpoint-s: 480px;
$breakpoint-m: 768px;
$breakpoint-l: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1600px;

// Colors
$color-bg: #f8f8f8;

$color-main: #29abe2;
$color-alt: #00a99d;

$font-family-prim: 'Lato', sans-serif;
$font-family-alt: 'Overpass', sans-serif;

$color-text: #333;
$color-text-alt: #555;
$color-text-grey: #606060;
$color-text-light: #909090;
$color-text-lighter: #b0b0b0;

$link-boder-color: #d0d0d0;
$link-boder-color-hover: $color-main;

